.parameter-info{
	font-size: 5em;
}

#last-sensor-value{
	font-size: 9em;
	font-weight: bold; 
}

#last-measure-date{
	font-size: 2em;
	color: #1D648E;
}

@media (max-width: 830px) {
  #last-sensor-value {
    font-size: 6em;
  }
  .parameter-info{
		font-size: 3em;
  }
  #last-measure-date{
		font-size: 1em;
		font-weight: bold; 
	}
}